#menu {
    margin-left: 75%;
}
#menu li {
    border: 1px solid;
    font-size: 18px;
    list-style-type: none;
    max-width: 200px;
    min-width: 100px;
    padding: 15px;
}

#menu ul {
    margin: unset;
}

@media only screen and (max-width: 1000px) {
    #menu {
        margin-left: 15%;
    }
}