.add-item-button > #add-item-icon {
    font-size: 30px;
    margin-left: 10px;
}

.col-3 {
    margin: 0 auto;
}

.flex-2 {
    display: flex;
    margin: 0 auto;
}

#item-options {
    font-size: 24px;
    text-align: center;
}

.row {
    border-bottom: 1px solid #ABABAB;
    display: flex;
    font-size: 24px;
    padding: 25px 0;
    width: 100%;
}

select {
    font-size: 18px;
}

