.close-btn {
    float: right;
}

.hidden {
    display: none;
}

.modal-container {    
    background-color: rgb(119, 136, 153);
    color: #FFF;
    font-size: 24px;
    height: 300px;
    left: 50%;
    margin-left: -150px !important;
    padding: 36px;
    position: absolute;
    top: 25%;
    width: 300px;
}